/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/gothaproreg.eot");
  src: url("../fonts/gothaproreg.eot?#iefix") format('embedded-opentype'), url("../fonts/gothaproreg.woff2") format('woff2'), url("../fonts/gothaproreg.woff") format('woff'), url("../fonts/gothaproreg.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/gothaprolig.eot");
  src: url("../fonts/gothaprolig.eot?#iefix") format('embedded-opentype'), url("../fonts/gothaprolig.woff2") format('woff2'), url("../fonts/gothaprolig.woff") format('woff'), url("../fonts/gothaprolig.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/gothaprobol.eot");
  src: url("../fonts/gothaprobol.eot?#iefix") format('embedded-opentype'), url("../fonts/gothaprobol.woff2") format('woff2'), url("../fonts/gothaprobol.woff") format('woff'), url("../fonts/gothaprobol.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/gothaprobla.eot");
  src: url("../fonts/gothaprobla.eot?#iefix") format('embedded-opentype'), url("../fonts/gothaprobla.woff2") format('woff2'), url("../fonts/gothaprobla.woff") format('woff'), url("../fonts/gothaprobla.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/gothaproita.eot");
  src: url("../fonts/gothaproita.eot?#iefix") format('embedded-opentype'), url("../fonts/gothaproita.woff2") format('woff2'), url("../fonts/gothaproita.woff") format('woff'), url("../fonts/gothaproita.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/gothapromed.eot");
  src: url("../fonts/gothapromed.eot?#iefix") format('embedded-opentype'), url("../fonts/gothapromed.woff2") format('woff2'), url("../fonts/gothapromed.woff") format('woff'), url("../fonts/gothapromed.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 100%;
  text-rendering: geometricPrecision;
}
body {
  min-width: 1000px;
  background: #fff;
  font-family: 'GothamPro', sans-serif;
  line-height: 1.35;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
}
.btn_primary,
.btn_secondary {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
}
.btn_primary {
  background: #e5748c;
  box-shadow: inset 0 -4px 0 -1px #bb4c64;
}
.btn_primary:active {
  box-shadow: inset 0 4px 0 -1px rgba(187,76,100,0.8);
}
.btn_secondary {
  background: #3fca8f;
  box-shadow: inset 0 -4px 0 -1px #3c9770;
}
.btn_secondary._bold {
  font-weight: 900;
  box-shadow: inset 0 -5px 0 -1px #3c9770;
  text-shadow: 1px 1px 1px rgba(37,124,87,0.65);
}
.btn_secondary:active {
  box-shadow: inset 0 4px 0 -1px rgba(60,151,112,0.8);
}
.btn._size_m {
  height: 40px;
  padding: 12px 15px;
  font-size: 16px;
}
.btn._size_l {
  height: 44px;
  padding: 10px 15px;
  font-size: 20px;
}
.form-field__label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.form-field__label sup {
  color: #e16186;
  vertical-align: 4%;
}
.form-field .form-input {
  display: block;
}
.form-field .form-select {
  margin-top: 6px;
  margin-bottom: 2px;
}
.form-input {
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.45);
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 2px;
}
.form-select {
  width: 100%;
  font: 14px Tahoma;
}
.form-select.opened .jq-selectbox__select {
  border-radius: 7px 7px 0 0;
}
.form-select.opened .jq-selectbox__dropdown {
  border-radius: 0 0 7px 7px;
}
.form-select .jq-selectbox__select {
  background: #fff;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid #bebebe;
}
.form-select .jq-selectbox__select,
.form-select .jq-selectbox__select-text {
  width: 100% !important;
}
.form-select .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 8px;
  background: url("../img/form-select-arrow.png") no-repeat center center;
  width: 7px;
  height: 100%;
}
.form-select .jq-selectbox__select-text {
  padding: 5px 10px;
  padding-right: 22px;
}
.form-select .jq-selectbox__dropdown {
  min-width: 100%;
  width: 100%;
  top: 100% !important;
  background: #fff;
  border: 1px solid #bebebe;
  border-top: none;
  overflow: hidden;
}
.form-select .jq-selectbox__dropdown ul li {
  padding: 5px 10px;
}
.form-select .jq-selectbox__dropdown ul li:hover {
  background: #f2f2f2;
}
.heading._size_m {
  font-size: 22px;
  margin: 0 0 6px;
}
.page-heading {
  overflow: hidden;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #434343;
  line-height: 1;
}
.page-heading strong {
  font-weight: 900;
  color: #ee7488;
}
.page-heading span {
  position: relative;
  display: inline-block;
}
.page-heading span:before,
.page-heading span:after {
  content: '';
  position: absolute;
  top: 0;
  width: 999%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: center center;
}
.page-heading span:before {
  left: -999%;
}
.page-heading span:after {
  right: -999%;
}
.page-heading._size_l {
  margin-bottom: 20px;
  font-size: 40px;
}
.page-heading._size_l span:before,
.page-heading._size_l span:after {
  background-image: url("../img/section-heading_size_l.png");
  margin: 0 -20px;
}
.page-heading._size_m {
  margin-bottom: 20px;
  font-size: 25px;
}
.page-heading._size_m span:before,
.page-heading._size_m span:after {
  background-image: url("../img/section-heading_size_m.png");
  margin: 0 -16px;
}
.image._rounded {
  padding: 3px;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
}
.link._bordered {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.link._bordered:hover {
  border: none;
}
.quote {
  margin: 25px 0;
  padding: 10px 20px;
  background: url("../img/quote.png") no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #454545;
  line-height: 1.5;
}
.text {
  font: 12px/1.65 Tahoma;
  color: #454545;
}
.text + .text {
  margin-top: 16px;
}
.b-book-form {
  background: url("../img/pattern-1.jpg") repeat center center;
  padding: 10px;
  position: relative;
}
.b-book-form_modal {
  display: none;
}
.b-book-form_modal .b-book-form__wrapper {
  background: #fff;
}
.b-book-form__wrapper {
  padding: 30px;
  background: #fdf9e7;
}
.b-book-form__wrapper:before {
  content: '';
  display: block;
  margin: 0 auto 8px;
  background: url("../img/b-book-form__clock.png") no-repeat center center;
  width: 48px;
  height: 48px;
}
.b-book-form__form {
  width: 466px;
  margin: 0 auto;
}
.b-book-form__form:before,
.b-book-form__form:after {
  content: " ";
  display: table;
}
.b-book-form__form:after {
  clear: both;
}
.b-book-form__heading {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 900;
  color: #495687;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.15;
}
.b-book-form__heading small {
  font-weight: normal;
  font-size: 15px;
}
.b-book-form__line {
  background: #b3b6bf;
  height: 1px;
  margin: 25px 0;
}
.b-book-form__fields {
  margin: 0 -17px;
}
.b-book-form__fields:before,
.b-book-form__fields:after {
  content: " ";
  display: table;
}
.b-book-form__fields:after {
  clear: both;
}
.b-book-form__field {
  float: left;
  width: 216px;
  margin: 5px 17px;
}
.b-book-form__field._travelers .form-select {
  width: 80px;
}
.b-book-form__order-btn {
  display: block;
  margin: 25px auto 0;
}
.b-book-form__time {
  text-align: center;
}
.b-book-form__time__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.b-book-form__time__item._checked .b-book-form__time__btn {
  background: #2faa76;
}
.b-book-form__time__item + .b-book-form__time__item {
  margin-left: 70px;
}
.b-book-form__time__item + .b-book-form__time__item:before {
  content: 'or';
  position: absolute;
  left: -70px;
  top: 25%;
  margin: 0 16px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #3a3a3a;
}
.b-book-form__time__btn {
  position: relative;
  font-size: 25px;
  padding: 8px 12px;
}
.b-book-form__time__btn sup {
  vertical-align: 40%;
  font-size: 15px;
}
.b-book-form__time__radio {
  display: none;
}
.b-book-form__or {
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}
.b-book-form__or:before {
  display: block;
  content: 'or';
  font-size: 14px;
  margin-bottom: 5px;
}
.b-book-form__or a {
  font-size: 20px;
  font-weight: 300;
  color: #208de1;
  border-bottom: 1px solid #b4d2f2;
}
.b-book-form__or a:hover {
  border: none;
}
.b-book-today {
  padding: 10px 0 25px;
  background: url("../img/b-book-today.jpg") no-repeat top center;
  text-align: center;
}
.b-book-today__heading {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #46508b;
  text-transform: uppercase;
}
.b-book-today__tour {
  display: inline-block;
  vertical-align: top;
  margin: 13px 0;
  padding: 6px;
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}
.b-book-today__tour__image {
  display: block;
}
.b-book-today__tour + .b-book-today__tour {
  margin-left: 55px;
}
.b-book-today__tour__desc {
  padding: 5px;
}
.b-book-today__tour__title {
  display: block;
  margin-bottom: 6px;
  color: #46508b;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.b-book-today__tour__price {
  font: 12px/1.4 Tahoma;
}
.b-book-today__tour__order-btn {
  display: block;
  margin-top: 8px;
  padding: 5px;
  background: #45b39c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.b-book-today__tour__order-btn:active {
  box-shadow: inset 0 5px 20px -5px rgba(0,0,0,0.15);
}
.b-footer {
  background: url("../img/b-footer.jpg") no-repeat center bottom;
  padding: 22px 0;
  color: #fff;
  font-size: 13px;
}
.b-footer .container {
  position: relative;
}
.b-footer__logo {
  position: absolute;
  left: 5px;
  top: 1px;
}
.b-footer__link {
  display: block;
  text-decoration: underline;
}
.b-footer__link:hover {
  text-decoration: none;
}
.b-footer__link + .b-footer__link {
  margin-top: 8px;
}
.b-footer__col {
  float: left;
  padding-left: 40px;
  padding-right: 35px;
}
.b-footer__text + .b-footer__text {
  margin-top: 20px;
}
.b-footer__text_contacts {
  color: #c4d0dd;
}
.b-footer__heading {
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.1;
}
.b-footer__heading strong {
  display: block;
  font-size: 25px;
  font-weight: 900;
  color: #e85e77;
}
.b-footer__heading span {
  font-weigh: 300;
}
.b-guides__heading {
  margin-bottom: 10px;
  font-size: 22px;
  color: #46508b;
}
.b-guides__person-list {
  margin-bottom: 50px;
}
.b-guides__person-list:before,
.b-guides__person-list:after {
  content: " ";
  display: table;
}
.b-guides__person-list:after {
  clear: both;
}
.b-guides__person {
  margin: 38px 0;
}
.b-guides__person:before,
.b-guides__person:after {
  content: " ";
  display: table;
}
.b-guides__person:after {
  clear: both;
}
.b-guides__person__image {
  float: left;
  margin-right: 10px;
}
.b-guides__person__desc {
  padding: 10px 15px;
  overflow: hidden;
}
.b-guides__person__name {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.b-header {
  height: 298px;
  background: url("../img/b-header.jpg") no-repeat center bottom;
}
.b-header__main {
  padding: 38px 0;
}
.b-header__logo {
  float: left;
  margin-top: 12px;
  padding-left: 12px;
}
.b-header__logo__image,
.b-header__logo__heading {
  display: inline-block;
  vertical-align: -17%;
}
.b-header__logo__image {
  margin-right: 16px;
}
.b-header__logo__heading {
  font-size: 25px;
  font-weight: 300;
  color: #545454;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
}
.b-header__logo__heading strong {
  font-weight: 900;
  font-size: 40px;
  color: #c24158;
}
.b-header__heading {
  float: right;
  margin: 0 45px 10px 0;
  font-size: 30px;
  font-weight: 300;
  color: #63528c;
}
.b-header__menu {
  clear: right;
  float: right;
}
.b-header__menu:before,
.b-header__menu:after {
  content: " ";
  display: table;
}
.b-header__menu:after {
  clear: both;
}
.b-header__menu__item {
  float: left;
  font-size: 13px;
  color: #495687;
  position: relative;
/*&:hover:before
                background #86deb9;*/
}
.b-header__menu__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background: #fff8a9;
  -webkit-transform: skew(-12deg, 0deg);
  -ms-transform: skew(-12deg, 0deg);
  transform: skew(-12deg, 0deg);
}
.b-header__menu__item + .b-header__menu__item:before {
  border-left: 1px solid #e7e2a4;
}
.b-header__menu__item._active:before {
  background: #86deb9;
}
.b-header__menu__item._active + .b-header__menu__item:before {
  border-color: transparent;
}
.b-header__menu__item a {
  display: block;
  position: relative;
  z-index: 999;
  padding: 5px 11px;
}
.b-page {
  padding: 40px 0;
}
.b-page:before,
.b-page:after {
  content: " ";
  display: table;
}
.b-page:after {
  clear: both;
}
.b-page__content {
  float: left;
  width: 660px;
}
.b-page__sidebar {
  float: left;
  width: 290px;
}
.b-page__content + .b-page__sidebar {
  margin-left: 30px;
}
.b-page__section + .b-page__section {
  margin-top: 50px;
}
.b-partner-list {
  padding: 0 0 35px;
  border: 1px solid #bfc4d5;
  text-align: center;
}
.b-partner-list__heading {
  display: inline-block;
  padding: 0 15px;
  margin: -15px 0 35px;
  font-size: 20px;
  font-weight: 300;
  color: #666c7e;
  text-transform: uppercase;
  background: #fff;
}
.b-partner-list__item {
  display: inline-block;
  vertical-align: middle;
}
.b-partner-list__item + .b-partner-list__item {
  margin-left: 35px;
}
.b-photo-slider {
  margin-bottom: 25px;
}
.b-private-tour-preview {
  width: 300px;
  text-align: center;
}
.b-private-tour-preview__image {
  display: block;
  margin-bottom: 12px;
}
.b-private-tour-preview__title {
  font-size: 18px;
}
.b-private-tour-preview__more {
  margin-top: 12px;
  padding: 9px 18px;
  display: inline-block;
  border: 2px solid;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #46508b;
}
.b-private-tours__preview-list {
  margin: -15px -30px;
}
.b-private-tours__preview-list:before,
.b-private-tours__preview-list:after {
  content: " ";
  display: table;
}
.b-private-tours__preview-list:after {
  clear: both;
}
.b-private-tours__preview-list__item {
  float: left;
  margin: 30px;
}
.b-sidebar-facebook {
  background: url("../img/b-sidebar-facebook.jpg") no-repeat center center;
  height: 252px;
}
.b-sidebar-guides {
  text-align: center;
}
.b-sidebar-guides__heading {
  margin-bottom: 15px;
  font-size: 20px;
  color: #495687;
  line-height: 1.3;
}
.b-sidebar-guides__heading strong._bold {
  text-transform: uppercase;
  font-weight: bold;
}
.b-sidebar-guides__heading strong._medium {
  font-weight: 600;
}
.b-sidebar-guides__items {
  margin: 0 -5px;
}
.b-sidebar-guides__item {
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  color: #353535;
}
.b-sidebar-guides__item__image {
  margin-bottom: 8px;
}
.b-sidebar-media {
  background: url("../img/pattern-1.jpg") repeat center center;
  padding: 10px;
  position: relative;
  text-align: center;
}
.b-sidebar-media__wrapper {
  padding: 30px;
  background: #fff;
}
.b-sidebar-media__item__image {
  display: block;
  margin: 0 auto 22px;
}
.b-sidebar-media__item__text {
  font-size: 13px;
  color: #56649f;
}
.b-sidebar-media__item__text strong {
  font-weight: bold;
}
.b-sidebar-media__item + .b-sidebar-media__item {
  margin-top: 30px;
}
.b-sidebar-review:before,
.b-sidebar-review:after {
  content: " ";
  display: table;
}
.b-sidebar-review:after {
  clear: both;
}
.b-sidebar-review__image {
  float: left;
  margin-right: 10px;
}
.b-sidebar-review__heading {
  margin-bottom: 8px;
  font-size: 15px;
  text-transform: uppercase;
  color: #495687;
}
.b-sidebar-review__heading a {
  border-bottom: 1px solid #d0d2dd;
}
.b-sidebar-review__heading a:hover {
  border: none;
}
.b-sidebar-review__heading strong {
  font-weight: bold;
}
.b-sidebar-tour {
  position: relative;
}
.b-sidebar-tour + .b-sidebar-tour {
  margin-top: 10px;
}
.b-sidebar-tour_primary .b-sidebar-tour__wrapper {
  background: #e5748c;
  box-shadow: inset 0 -5px 0 -1px #bb4c64;
}
.b-sidebar-tour_primary .b-sidebar-tour__wrapper:active {
  background: #e26580;
}
.b-sidebar-tour_secondary .b-sidebar-tour__wrapper {
  background: #3fca8f;
  box-shadow: inset 0 -5px 0 -1px #3c9770;
}
.b-sidebar-tour_secondary .b-sidebar-tour__wrapper:active {
  background: #36c589;
}
.b-sidebar-tour._active .b-sidebar-tour__toggle:before {
  background-position: -31px 0;
}
.b-sidebar-tour__wrapper {
  border-radius: 3px;
  color: #fff;
}
.b-sidebar-tour__toggle {
  padding: 10px 45px 10px 15px;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.b-sidebar-tour__toggle:before {
  content: '';
  background: url("../img/arrows-sprite.png") no-repeat;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 7px;
  right: 11px;
}
.b-sidebar-tour__toggle strong {
  font-weight: 900;
}
.b-sidebar-tour__info {
  display: none;
  padding: 0 15px 15px;
  margin-top: -10px;
  overflow: hidden;
}
.b-sidebar-tour__heading {
  margin: 0 0 10px;
  font-weight: 900;
  color: #fff8a9;
  text-transform: uppercase;
}
.b-sidebar-tour__text strong {
  font-weight: 900;
}
.b-sidebar-tour__text a {
  color: #fff8a9;
  border-bottom: 1px solid #f4ad95;
}
.b-sidebar-tour__text a:hover {
  border: none;
}
.b-sidebar-tour__heading + .b-sidebar-tour__text:before {
  content: '';
  display: block;
  margin: 10px 0;
  background: #f39eac;
  height: 2px;
}
.b-sidebar-tour__actions {
  text-align: center;
  margin-top: 12px;
}
.b-sidebar-tour__btn {
  display: inline-block;
  vertical-aligm: middle;
  padding: 4px 10px;
  border: 2px solid;
  font-weight: bold;
  font-size: 14px;
  color: #fff8a9;
  text-transform: uppercase;
}
.b-sidebar-tour__btn + .b-sidebar-tour__btn {
  margin-left: 26px;
}
.b-sidebar-tour__btn_order {
  color: #fff8a9;
}
.b-sidebar-tour__btn_more {
  color: #fff;
}
.b-sidebar__section + .b-sidebar__section {
  margin-top: 35px;
}
.b-text-box__heading {
  font-size: 22px;
  margin: 0 0 6px;
}
.b-text-box__text {
  font-size: 12px;
  color: #454545;
}
.b-text-box + .b-text-box {
  margin-top: 22px;
}
.b-top-line {
  background: #495687;
  color: #c4d0dd;
  font-size: 14px;
}
.b-top-line:before,
.b-top-line:after {
  content: " ";
  display: table;
}
.b-top-line:after {
  clear: both;
}
.b-top-line__share {
  padding: 14px 0;
  float: right;
}
.b-top-line__share__icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/b-top-line__share__icon-sprite.png") no-repeat;
  width: 28px;
  height: 26px;
  margin-left: 6px;
}
.b-top-line__share__icon._tw {
  background-position: -28px 0;
}
.b-top-line__share__icon._g {
  background-position: -56px 0;
}
.b-top-line__menu {
  float: left;
}
.b-top-line__menu:before,
.b-top-line__menu:after {
  content: " ";
  display: table;
}
.b-top-line__menu:after {
  clear: both;
}
.b-top-line__menu__item {
  position: relative;
  float: left;
  text-transform: uppercase;
}
.b-top-line__menu__item a {
  display: block;
  padding: 18px 15px;
}
.b-top-line__menu__item._active,
.b-top-line__menu__item:hover {
  color: #fff;
}
.b-top-line__menu__item._active:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #34aecc;
}
.b-tour-details__image {
  margin: 0 auto 25px;
}
.b-tour-map__wrapper {
  margin-top: 18px;
}
.b-tour-places {
  text-align: center;
  margin: 0 -2px;
}
.b-tour-places__item {
  display: inline-block;
  vertical-align: top;
  width: 124px;
  margin: 8px 2px;
}
.b-tour-places__item__image {
  display: block;
  margin: 0 auto 10px;
  position: relative;
}
.b-tour-places__item__image img {
  position: relative;
  z-index: 999;
}
.b-tour-places__item__image:before {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 49px;
  width: 119px;
  height: 50px;
  background: url("../img/b-tour-places__item__image.png") no-repeat;
  z-index: 99;
}
.b-tour-places__item__title {
  font-size: 14px;
}
.b-tour-places__more {
  margin-top: 10px;
}
.b-tour-places__more .btn {
  position: relative;
  padding-right: 42px;
}
.b-tour-places__more .btn:before {
  content: '';
  background: url("../img/arrows-sprite.png") no-repeat;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 7px;
  right: 11px;
}
.b-tour-share {
  float: right;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  background: url("../img/pattern-1.jpg") repeat;
}
.b-tour-share__wrapper {
  padding: 12px 14px;
  background: #fff;
}
.b-tour-share__text {
  font-size: 12px;
  text-transform: uppercase;
}
.b-tour-share__text._1 {
  color: #56649f;
}
.b-tour-share__text._2 {
  color: #e15f86;
}
.b-tour-share__icon-list {
  margin: 8px 0;
}
.b-tour-share__icon-list__item {
  display: inline-block;
  vertical-align: top;
}
.b-tour-share__icon {
  display: inline-block;
  background: url("../img/b-tour-share__icon-sprite.png") no-repeat;
  width: 30px;
  height: 30px;
}
.b-tour-share__icon._tw {
  background-position: -34px 0;
}
.b-tour-share__icon._g {
  background-position: -68px 0;
}
.b-tour-share__icon._in {
  background-position: -102px 0;
}
.b-tour-share__icon._main {
  background-position: -136px 0;
}
.b-tour-share__order-btn {
  margin: 18px 0 10px;
}
.b-tour-share__note {
  font: 11px Tahoma;
  line-height: 1.4;
}
.b-tour-share__note a {
  text-decoration: underline;
  color: #56649f;
}
.b-tour-share__note a:hover {
  text-decoration: none;
}
.b-tour-slider {
  background: #495687;
}
.b-tour-slider__item {
  padding: 10px;
  color: #fff;
  position: relative;
}
.b-tour-slider__item__heading {
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 140px;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0,0,0,0.3);
  line-height: 1;
}
.b-tour-slider__item__heading div._indent {
  text-indent: 60px;
}
.b-tour-slider__item__heading strong {
  color: #fffb8d;
}
.b-tour-slider__item__caption {
  margin-bottom: -12px;
  padding: 14px;
  font-size: 14px;
  text-align: center;
  line-height: 1.7;
}
.b-tour-slider__item__caption a {
  color: #fff8a9;
  border-bottom: 1px solid #858990;
}
.b-tour-slider__item__caption a:hover {
  border: none;
}
.b-trust-accomodations {
  font-size: 14px;
}
.b-trust-accomodations__item {
  margin: 17px 0;
}
.b-trust-accomodations a {
  color: #495687;
  border-bottom: 1px solid #dbdde5;
}
.b-trust-accomodations a:hover {
  border: none;
}
.b-trust-reviews__item {
  padding: 13px;
  border: 1px solid #bfc4d5;
  border-radius: 3px;
  text-align: center;
  position: relative;
  line-height: 1.4;
}
.b-trust-reviews__item:before {
  content: '';
  background: url("../img/b-trust-reviews__item.png") no-repeat;
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -3px;
  width: 6px;
  height: 10px;
}
.b-trust-reviews__item + .b-trust-reviews__item {
  margin-top: 15px;
}
.b-trust-reviews__item__text {
  font-size: 13px;
  color: #3b3b3b;
}
.b-trust-reviews__item__text + .b-trust-reviews__item__src {
  margin-top: 4px;
}
.b-trust-reviews__item__src {
  color: #faa969;
  font: 11px Georgia;
  font-style: italic;
}
.b-trust {
  text-align: center;
}
.b-trust:before,
.b-trust:after {
  content: " ";
  display: table;
}
.b-trust:after {
  clear: both;
}
.b-trust__reviews {
  float: right;
  width: 354px;
}
.b-trust__accomodations {
  float: left;
  width: 212px;
}
.b-trust__heading {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 300;
  color: #495687;
  text-transform: uppercase;
  line-height: 1.15;
}
.b-trust__heading strong {
  font-weight: bold;
  font-size: 24px;
}
.b-trust__icon {
  margin: 15px auto;
  background: url("../img/b-trust-sprite.png") no-repeat;
}
.b-trust__icon._accomodation {
  width: 86px;
  height: 27px;
}
.b-trust__icon._reviews {
  width: 27px;
  height: 27px;
  background-position: 0 -26px;
}
