meyer-reset();
box-sizing-reset();

html
    font-size $base-font-size;
    text-rendering geometricPrecision ;
    
body
    min-width $container-width;
    background $base-bg;
    font-family $base-font-family;
    line-height $base-line-height;
    color $base-color;

a
    color inherit;
    text-decoration none;
    
img
    max-width 100%;
    height auto;

.container
    width $container-width;
    margin 0 auto;
    padding 0 10px;
    clearfix();