@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothaproreg.eot');
    src: url('../fonts/gothaproreg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothaproreg.woff2') format('woff2'),
         url('../fonts/gothaproreg.woff') format('woff'),
         url('../fonts/gothaproreg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothaprolig.eot');
    src: url('../fonts/gothaprolig.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothaprolig.woff2') format('woff2'),
         url('../fonts/gothaprolig.woff') format('woff'),
         url('../fonts/gothaprolig.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothaprobol.eot');
    src: url('../fonts/gothaprobol.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothaprobol.woff2') format('woff2'),
         url('../fonts/gothaprobol.woff') format('woff'),
         url('../fonts/gothaprobol.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothaprobla.eot');
    src: url('../fonts/gothaprobla.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothaprobla.woff2') format('woff2'),
         url('../fonts/gothaprobla.woff') format('woff'),
         url('../fonts/gothaprobla.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothaproita.eot');
    src: url('../fonts/gothaproita.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothaproita.woff2') format('woff2'),
         url('../fonts/gothaproita.woff') format('woff'),
         url('../fonts/gothaproita.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gothapromed.eot');
    src: url('../fonts/gothapromed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothapromed.woff2') format('woff2'),
         url('../fonts/gothapromed.woff') format('woff'),
         url('../fonts/gothapromed.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}