extends base

block body
  include ../partials/header
  
  .b-page.container
    .b-page__content
      block content

    include ../partials/sidebar

  include ../partials/footer

  include ../partials/book-form

  +book-form(true)