.b-book-today
    padding 10px 0 25px;
    background url(../img/b-book-today.jpg) no-repeat top center;
    text-align center;
    
    &__heading
        margin-bottom 25px;
        font-size 30px
        font-weight 900;
        color #46508b;
        text-transform uppercase;
        
    &__tour
        display inline-block;
        vertical-align top;
        margin 13px 0;
        padding 6px;
        background #fff;
        box-shadow 0 0 3px 1px rgba(#000, 0.3);
        
        &__image
            display block;

        & + &
            margin-left 55px;
            
        &__desc
            padding 5px;

        &__title
            display block;
            margin-bottom 6px;
            color #46508b;
            font-size 14px;
            font-weight 600;
            text-transform uppercase;
            
        &__price
            font 12px/1.4 Tahoma;
            
        &__order-btn
            display block;
            margin-top 8px;
            padding 5px;
            background #45b39c;
            text-transform uppercase;
            font-size 14px;
            font-weight bold;
            color #fff;
            
            &:active
                box-shadow inset 0 5px 20px -5px rgba(#000, 0.15);
                //background darken(#45b39c, 4%);