.b-book-form
    background url(../img/pattern-1.jpg) repeat center center;
    padding 10px;
    position relative;
    
    &_modal
        display none;
        
        .b-book-form__wrapper
            background #fff;

    &__wrapper
        padding 30px;
        background #fdf9e7;
        
        &:before
            content '';
            display block;
            margin 0 auto 8px;;
            background url(../img/b-book-form__clock.png) no-repeat center center;
            size 48px;
        
    &__form
        width 466px;
        margin 0 auto;
        clearfix();
        
    &__heading
        margin-bottom 15px;
        font-size 20px;
        font-weight 900;
        color #495687;
        text-transform uppercase;
        text-align center;
        line-height 1.15;
        
        small
            font-weight normal
            font-size 15px;
            
    &__line
        background #b3b6bf;
        height 1px;
        margin 25px 0;
    
    &__fields
        clearfix();
        margin 0 -17px;
        
    &__field
        float left;
        width 216px;
        margin 5px 17px;
        
        &._travelers .form-select
            width 80px;
        
    &__order-btn
        display block;
        margin 25px auto 0;
        
    &__time
        text-align center;
        
        &__item
            position relative;
            display inline-block;
            vertical-align middle;
            
            &._checked .b-book-form__time__btn
                background darken($color-green, 18%);
            
            & + &
                margin-left 70px;
                
                &:before
                    content 'or';
                    position absolute;
                    left -70px; top 25%;
                    margin 0 16px;
                    text-transform uppercase;
                    font-size 20px;
                    font-weight 300;
                    color #3a3a3a;
        
        &__btn
            position relative;
            font-size 25px;
            padding 8px 12px;
            
            sup
                vertical-align 40%;
                font-size 15px;
                
        &__radio
            display none;
            
    &__or
        margin-top 16px;
        text-align center;
        text-transform uppercase;
        
        &:before
            display block;
            content 'or';
            font-size 14px;
            margin-bottom 5px;
            
        a
            font-size 20px;
            font-weight 300;
            color #208de1;
            border-bottom 1px solid #b4d2f2;
            
            &:hover
                border none;