.b-footer
    background url(../img/b-footer.jpg) no-repeat center bottom;
    padding 22px 0;
    color #fff;
    font-size 13px;
    
    .container
        position relative;
        
    &__logo
        position absolute;
        left 5px; top 1px;
    
    &__link
        display block;
        text-decoration underline;
        
        &:hover
            text-decoration none;
            
        & + &
            margin-top 8px;
     
    &__col
        float left;
        padding-left 40px;
        padding-right 35px;
              
    &__text       
        & + &
            margin-top 20px;
        
        &_contacts
            color #c4d0dd;
        
    &__heading
        margin-bottom 15px;
        font-size 16px;
        text-transform uppercase;
        line-height 1.1;
        
        strong
            display block;
            font-size 25px;
            font-weight 900;
            color #e85e77;
        
        span
            font-weigh 300;
