.b-guides
    &__heading
        margin-bottom 10px;
        font-size 22px;
        color #46508b;
        
    &__person-list
        clearfix();
        margin-bottom 50px;
        
    &__person
        clearfix();
        margin 38px 0;
        
        &__image
            float left;
            margin-right 10px;
            
        &__desc
            padding 10px 15px;
            overflow hidden;
            
        &__name
            font-size 25px;
            font-weight 300;
            text-transform uppercase;
            