.b-header
    height 298px;
    background url(../img/b-header.jpg) no-repeat center bottom;
    
    &__main
        padding 38px 0;
    
    &__logo
        float left;
        margin-top 12px;
        padding-left 12px;
        
        &__image, &__heading
            display inline-block;
            vertical-align -17%;
            
        &__image
            margin-right 16px;
                    
        &__heading
            font-size 25px;
            font-weight 300;
            color #545454;
            text-transform uppercase;
            line-height 1;
            letter-spacing 2px;
            
            strong
                font-weight 900;
                font-size 40px;
                color #c24158;
        
    &__heading
        float right;
        margin 0 45px 10px 0;
        font-size 30px;
        font-weight 300;
        color #63528c;
        
    &__menu
        clear right;
        float right;
        clearfix();
        
        &__item
            float left;
            font-size 13px;
            color #495687;
            position relative;
            
            &:before
                content '';
                position absolute;
                size 100%;
                z-index 99;
                top 0; left 0;
                background #fff8a9;
                transform skew(-12deg, 0deg);
                
            & + &:before
                border-left 1px solid #e7e2a4;
                
            &._active:before
                background #86deb9;
                
            &._active + &:before
                border-color transparent;
                
            /*&:hover:before
                background #86deb9;*/
                           
            a
                display block;
                position relative;
                z-index 999;
                padding 5px 11px;