.b-page
    padding 40px 0;
    clearfix();
    
    &__content
        float left;
        width 660px;
        
    &__sidebar
        float left;
        width 290px;
        
    &__content + &__sidebar
        margin-left 30px;
    
    &__section + &__section
        margin-top 50px;