.b-partner-list
    padding 0 0 35px;
    border 1px solid #bfc4d5;
    text-align center;
    
    &__heading
        display inline-block;
        padding 0 15px;
        margin -15px 0 35px;
        font-size 20px;
        font-weight 300;
        color #666c7e;
        text-transform uppercase;
        background #fff;
        
    
        
    &__item
        display inline-block;
        vertical-align middle;

        & + &
            margin-left 35px;
        