.b-private-tour-preview
    width 300px;
    text-align center;
    
    &__image
        display block;
        margin-bottom 12px;
        
    &__title
        font-size 18px;
        
    &__more
        margin-top 12px;
        padding 9px 18px;
        display inline-block;
        border 2px solid;
        font-size 14px;
        font-weight 600;
        text-transform uppercase;
        color #46508b;