.b-sidebar-media
    background url(../img/pattern-1.jpg) repeat center center;
    padding 10px;
    position relative;
    text-align center;
    
    &__wrapper
        padding 30px;
        background #fff;
        
    &__item
        &__image
            display block;
            margin 0 auto 22px;
            
        &__text
            font-size 13px;
            color #56649f;
            
            strong
                font-weight bold;
            
        & + &
            margin-top 30px;