.b-sidebar-tour
    position relative;
    $sidebar-tour-yellow = #fff8a9;
    
    & + &
        margin-top 10px;
        
    &_primary
        //background #495687;
        .b-sidebar-tour__wrapper
            background $color-red;
            box-shadow inset 0 -5px 0 -1px #bb4c64;
            
            &:active
                background darken($color-red, 5%);
            
    &_secondary 
        .b-sidebar-tour__wrapper
            background $color-green;
            box-shadow inset 0 -5px 0 -1px #3c9770;
            
            &:active
                background darken($color-green, 5%);
        
    &._active .b-sidebar-tour            
        &__toggle:before
            background-position -31px 0;
            
    &__wrapper
        border-radius 3px;
        color #fff;
    
        //transition all 1s;
    
    &__toggle
        padding 10px 45px 10px 15px;
        position relative;
        font-size 16px;
        text-transform uppercase;
        cursor pointer;
        
        &:before
            content '';
            background url(../img/arrows-sprite.png) no-repeat;
            size 23px 22px;
            position absolute;
            top 7px; right 11px;

        strong
            font-weight 900;
        
    &__info
        display none;
        padding 0 15px 15px;
        margin-top -10px;
        overflow hidden;
        
    &__heading
        margin 0 0 10px;
        font-weight 900;
        color $sidebar-tour-yellow;
        text-transform uppercase;
        
    &__text
        strong
            font-weight 900;
            
        a
            color $sidebar-tour-yellow;
            border-bottom 1px solid #f4ad95;
            
            &:hover
                border none;
                
    &__heading + &__text:before
        content '';
        display block;
        margin 10px 0;
        background #f39eac;
        height 2px;

    &__actions
        text-align center;
        margin-top 12px;
        
    &__btn
        display inline-block;
        vertical-aligm middle;
        padding 4px 10px;
        border 2px solid;
        font-weight bold;
        font-size 14px;
        color $sidebar-tour-yellow;
        text-transform uppercase;
        
        & + &
            margin-left 26px;

        &_order
            color $sidebar-tour-yellow;
            
        &_more
            color #fff;