.b-sidebar-review
    clearfix();
    
    &__image
        float left;
        margin-right 10px;
        
    &__heading
        margin-bottom 8px;
        font-size 15px;
        text-transform uppercase;
        color #495687;
        
        a
            border-bottom 1px solid #d0d2dd;
            
            &:hover
                border none;
        
        strong
            font-weight bold;
            
