.b-sidebar-guides
    text-align center;

    &__heading
        margin-bottom 15px;
        font-size 20px;
        color #495687;
        line-height 1.3;
        
        strong
            &._bold
                text-transform uppercase;
                font-weight bold;
                
            &._medium
                font-weight 600;
                
    &__items
        margin 0 -5px;
                
    &__item
        margin 5px;
        display inline-block;
        vertical-align middle;
        font-weight 300;
        color #353535;
        
        &__image
            margin-bottom 8px;