.b-tour-places
    text-align center;
    margin 0 -2px;
    
    &__item
        display inline-block;
        vertical-align top;
        width 124px;
        margin 8px 2px;
        
        &__image
            display block
            margin 0 auto 10px;
            position relative;
            
            img
                position relative;
                z-index 999;
            
            &:before
                content '';
                position absolute;
                bottom 1px; left 49px;
                size 119px 50px;
                background url(../img/b-tour-places__item__image.png) no-repeat;
                z-index 99;
            
        &__title
            font-size 14px;
            
    &__more
        margin-top 10px;
        
        .btn
            position relative;
            padding-right 42px;
            
            &:before
                content '';
                background url(../img/arrows-sprite.png) no-repeat;
                size 23px 22px;
                position absolute;
                top 7px; right 11px;