.b-top-line
    clearfix();
    background #495687;
    color #c4d0dd;
    font-size 14px;
    
    &__share
        padding 14px 0;
        float right;
        
        &__icon
            display inline-block;
            vertical-align middle;
            background url(../img/b-top-line__share__icon-sprite.png) no-repeat;
            size 28px 26px;
            margin-left 6px;
            
            &._tw
                background-position -28px 0;
                
            &._g
                background-position -56px 0;
    
    &__menu
        float left;
        clearfix();

        &__item
            position relative;
            float left;
            text-transform uppercase;
            
            a
                display block;
                padding 18px 15px;
            
            &._active, &:hover
                color #fff;
                
            &._active:before
                content '';
                position absolute;
                bottom 0; left 0;
                width 100%;
                height 5px;
                background #34aecc;
                