.b-tour-share
    float right;
    margin-left 20px;
    padding 10px;
    text-align center;
    background url(../img/pattern-1.jpg) repeat;

    &__wrapper
        padding 12px 14px;
        background #fff;
        
    &__text
        font-size 12px;
        text-transform uppercase;
        
        &._1
            color #56649f;
        
        &._2
            color #e15f86;
            
    &__icon-list
        margin 8px 0;
        
        &__item
            display inline-block;
            vertical-align top;

    &__icon
        display inline-block;
        background url(../img/b-tour-share__icon-sprite.png) no-repeat;
        size 30px;
        
        &._tw
            background-position -34px 0; 
            
        &._g
            background-position -68px 0; 
            
        &._in
            background-position -102px 0;
            
        &._main
            background-position -136px 0;  
        
    &__order-btn
        margin 18px 0 10px;
        
    &__note
        font 11px Tahoma;
        line-height 1.4;
        
        a
            text-decoration underline;
            color #56649f;
            
            &:hover
                text-decoration none;