.b-tour-slider
    background #495687;
    
    &__item
        padding 10px;
        color #fff;
        position relative;        

        &__heading
            position absolute;
            z-index 999;
            left 30px; top 140px;
            font-size 50px;
            font-weight 900;
            text-transform uppercase;
            text-shadow 0 0 20px rgba(#000, 0.3);
            line-height 1;
            
            div._indent
                text-indent 60px;
            
            strong
                color #fffb8d;
                
        &__caption
            margin-bottom -12px;
            padding 14px;
            font-size 14px;
            text-align center;
            line-height 1.7;
            
            a
                color #fff8a9;
                border-bottom 1px solid #858990;
                
                &:hover
                    border none;