.b-trust-reviews
    &__item
        padding 13px;
        border 1px solid #bfc4d5;
        border-radius 3px;
        text-align center;
        position relative;
        line-height 1.4;
        
        &:before
            content '';
            background url(../img/b-trust-reviews__item.png) no-repeat;
            position absolute;
            left 50%;
            bottom -10px;
            margin-left -3px;
            size 6px 10px;
            
        & + &
            margin-top 15px;
        
        &__text
            font-size 13px;
            color #3b3b3b;
            
        &__text + &__src
            margin-top 4px;
            
        &__src
            color #faa969;
            font 11px Georgia;
            font-style italic;
