.b-trust
    text-align center;
    clearfix();
    
    &__reviews
        float right;
        width 354px;

    &__accomodations
        float left;
        width 212px;
                    
    &__heading
        margin-bottom 12px;
        font-size 22px;
        font-weight 300;
        color #495687;
        text-transform uppercase;
        line-height 1.15;

        strong
            font-weight bold;
            font-size 24px;

    &__icon
        margin 15px auto;
        background url(../img/b-trust-sprite.png) no-repeat;
        
        &._accomodation
            size 86px 27px;
            
        &._reviews
            size 27px;
            background-position 0 -26px;