.b-trust-accomodations
    font-size 14px;
    
    &__item
        margin 17px 0;
        
    a
        color #495687;
        border-bottom 1px solid #dbdde5;
        
        &:hover
            border none;