extends layouts/default

block content
  section.b-page__section.b-guides
    h2.b-guides__heading Our Guides

    p.text SANDEMANs NEW Europe supports local small business by helping independent free-lance tour guides find a voice for their passion. By providing marketing services for local entrepreneurs, we take away some of the stress of developing a marketing strategy and allow fantastic independent tour guides the freedom to focus on what they do best.
    p.text Meet some of them and find out why they are so passionate about sharing the best of Prague with you!
    
    .b-guides__person-list
      .b-guides__person
        img(src='img/b-guides__person-1.jpg').b-guides__person__image.image._rounded

        .b-guides__person__desc
          .b-guides__person__name Chris

          p.text 
            | As a person who finds great enjoyment in travelling, working with people who share 
            | the same love seems like a right kind of job for me. The longer I stay and the more I 
            | experience in this beautiful city, the more fascinating and inspiring it becomes; being 
            | able to use this inspiration to help travelers make the most their time here is something 
            | I believe is well worth doing.

      .b-guides__person
        img(src='img/b-guides__person-2.jpg').b-guides__person__image.image._rounded

        .b-guides__person__desc
          .b-guides__person__name John paul

          p.text 
            | As a person who finds great enjoyment in travelling, working with people who share 
            | the same love seems like a right kind of job for me. The longer I stay and the more I 
            | experience in this beautiful city, the more fascinating and inspiring it becomes; being 
            | able to use this inspiration to help travelers make the most their time here is something 
            | I believe is well worth doing.

      .b-guides__person
        img(src='img/b-guides__person-3.jpg').b-guides__person__image.image._rounded

        .b-guides__person__desc
          .b-guides__person__name Michael

          p.text 
            | As a person who finds great enjoyment in travelling, working with people who share 
            | the same love seems like a right kind of job for me. The longer I stay and the more I 
            | experience in this beautiful city, the more fascinating and inspiring it becomes; being 
            | able to use this inspiration to help travelers make the most their time here is something 
            | I believe is well worth doing.

  // Trust
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/trust
    
  // Partners list
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/partner-list