extends layouts/default

block content
  section.b-page__section.b-tour-slider
    ul.b-tour-slider__slides
      li.b-tour-slider__item
        img(src='http://placehold.it/640x360').b-tour-slider__item__iamge

        .b-tour-slider__item__heading Free Tour #[br] #[div._indent of #[strong Istanbul]]

        .b-tour-slider__item__caption
          | Every day. Meet at Prince Albert Statue by St. George’s Hall
          br
          | Want more details? #[a(href='#') Find them here]

      li.b-tour-slider__item
        img(src='http://placehold.it/640x360').b-tour-slider__item__iamge

        .b-tour-slider__item__heading Food Tour #[br] #[div._indent of #[strong Istanbul]]

        .b-tour-slider__item__caption
          | Every day. Meet at Prince Albert Statue by St. George’s Hall
          br
          | Want more details? #[a(href='#') Find them here]

  // Tour details
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    .b-text-box
      h2.b-text-box__heading Rain or shine, all of our tours run as scheduled
      p.text By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.

    .b-text-box
      h2.b-text-box__heading Connecting great guides with smart travelers
      p.text We believe in supporting our local communities and are committed to giving a voice to self-employed guides who have chosen Liverpool as their home. By ensuring that every native English speaking guide represents our unique style of mixing history and story-telling while maintaining their own personality and flair, we’ve become one of the most popular tour companies in the world. Helping superb independent guides connect with thousands of travelers a day, we provide these local freelancers the possibility to inform and entertain you, and they employ us to spread the news about this great concept.

    .b-text-box
      h2.b-text-box__heading How can a Free Tour be one of the best in Europe?
      p.text The answer is simple: because the informed, entertaining, and unforgettable guides on our Free Tours work on a tips-only basis, the highest quality is guaranteed! They’ll never pressure you to tip – even though the guides receive no other compensation from our company or the cities we work in. We believe that if money is given, it should be voluntary and in direct proportion to the quality of the tour and the budget of the traveler. Value for money goes a long way, and satisfied customers tip what they think the tour was worth!


  // Book today
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/book-today

  // Please note
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-text-box
    h2.b-text-box__heading Please Note:
    p.text By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.
  
  // Trust
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-trust
    .b-trust__col.b-trust__accomodations
      .b-trust__heading Accommodation #[br] #[strong we trust]

      .b-trust__icon._accomodation

      ul.b-trust-accomodations
        li.b-trust-accomodations__item: a(href='#') Flying Pig Hostels
        li.b-trust-accomodations__item: a(href='#') Meininger Hotel
        li.b-trust-accomodations__item: a(href='#') St Christopher’sInn
        li.b-trust-accomodations__item: a(href='#') Stayokay Hostels
        li.b-trust-accomodations__item: a(href='#') The Bulldog Hotel

    .b-trust__col.b-trust__reviews
      .b-trust__heading Travelers #[br] #[strong speak out]

      .b-trust__icon._reviews

      ul.b-trust-reviews
        li.b-trust-reviews__item
          .b-trust-reviews__item__text AMAZING! Especially forbackpackers on a budget
          .b-trust-reviews__item__src Tripadvisor.com review

        li.b-trust-reviews__item
          .b-trust-reviews__item__text The most charismatic and entertaining guides in Europe
          .b-trust-reviews__item__src Cosmopolitan Magazine, 2005

  // Partners list
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-partner-list
    .b-partner-list__heading Our Partners

    .b-partner-list__items
      .b-partner-list__item: img(src='img/b-partner-list__item-1.png')
      .b-partner-list__item: img(src='img/b-partner-list__item-2.png')
      .b-partner-list__item: img(src='img/b-partner-list__item-3.png')