extends layouts/default

block content

  // Tour details
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-private-tours
    section.b-photo-slider
      ul.b-photo-slider__slides
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 1').b-photo-slider__item__image
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 2').b-photo-slider__item__image
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 3').b-photo-slider__item__image

    section.b-page__section
      h1.page-heading._size_l: span Private tours

      blockquote.quote The advantage of doing a private tour is simply that you have your own personal tour guide. You can decide where the tour starts from, where it should finish and how long it lasts. But the major advantage of this option is that the guide can cater specifically for your area of interest.

      section.b-page__section.b-private-tours__preview-list
        - for(var i = 0; i < 4; i++) {
         .b-private-tour-preview.b-private-tours__preview-list__item
           img(src='img/private-tours/previews/1.jpg').b-private-tour-preview__image
           .b-private-tour-preview__title Instanbul Food and Market Tour
           a(href='tour-details.html').b-private-tour-preview__more.btn Book now &amp; read more
        - }

  // Book today
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/book-today
    
  // Please note
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/please-note

  // Trust
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/trust
    
  // Partners list
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/partner-list