extends layouts/default

block content

  // Tour details
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-tour-details
    section.b-photo-slider
      ul.b-photo-slider__slides
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 1').b-photo-slider__item__image
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 2').b-photo-slider__item__image
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 3').b-photo-slider__item__image

    section.b-page__section
      h1.page-heading._size_l: span Free Tour of #[strong Istanbul]

      blockquote.quote Against the backdrop of the ‘New York of Britain’ this is an unmissable insight into the spirit of a city that thas endured terrible depths and enjoyed glorious heights. This 3 hour walking tour brings to life the famous and surprising key moments in Liverpool’s rich past.
      
      .b-tour-share
        .b-tour-share__wrapper
          .b-tour-share__text._1 If you liked the #[br] Free tour of Istanbul
          
          ul.b-tour-share__icon-list
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._fb
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._tw
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._g
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._in
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._mail

          .b-tour-share__text._2 tell a friends

          a(href='#' data-book-form).btn.btn_secondary._size_l.b-tour-share__order-btn._bold Book Now
          
          .b-tour-share__note
            a(href='#') You may be eligible for #[br] a special reduction

      p.text Liverpool has played a key role in British and world history for over 800 years. As the main port of the biggest empire in history it has touched the lives of countless people the world over. This has given the city a wealth of great buildings and a legendary friendly and diverse population summed up in the famous nickname ‘The World in One City’.
      p.text From The Beatles and eccentric WWII submarine hunters to Confederate captains and repentant slave traders, Liverpool’s history is full of amazing characters and fascinating stories. The UNESCO World Heritage listed waterfront with its incredible collection of maritime and commercial architecture is enriched with exciting new developments and is home to some of the most popular museums and galleries in the country.

    section.b-page__section.b-tour-map
      h2.page-heading._size_m: span Start point map
      
      p.text 
        | Meet your guide outside St. George’s Hall by the Prince Albert Statue. Just look for the guides in red SANDEMANs NEW 
        | Europe T-shirts and badges!

      img(src='img/b-tour-map__wrapper.jpg').b-tour-map__wrapper

    section.b-page__section
      h2.page-heading._size_m: span How to Get to the meeting point

      p.text 1. Get to the Admiralteyskaya metro station (Purple Line).

      p.text 2. Go to Palace Square (cross the Nevsky Prospect — main Avenue).

      p.text 
        | 3. Find the Alexander Column in the center of the Palace Square (see how it looks). This column devoted to the Emperor 
        | Alexander the I who won the war over Napoleon! The guide will wait for you near this monument. Please choose the side of 
        | the column which faces the Winter Palace.

    section.b-page__section.b-tour-place-list
      h2.page-heading._size_m: span On this 3 hour tour we cover

      - for(var i = 0; i < 2; i++) {
        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/1.png')
          .b-tour-places__item__title Hagia Sophia

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/2.png')
          .b-tour-places__item__title Haseki Hurrem #[br] Bath

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/3.png')
          .b-tour-places__item__title Blue Mosque

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/4.png')
          .b-tour-places__item__title German Fountain

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/5.png')
          .b-tour-places__item__title German Fountain
      - }

    .b-tour-places__more.page-heading._size_m: span: a(href='#').btn.btn_secondary._size_m and more

  // Book today
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/book-today
    
  // Book form
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    +book-form().b-book-form_section
  
  // Please note
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/please-note

  // Trust
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/trust
    
  // Partners list
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/partner-list