.btn
    display inline-block;
    outline none;
    border none;
    text-align center;
    border-radius 3px
    font-family inherit;
    cursor pointer;
    
    &_primary, &_secondary
        color #fff;
        text-transform uppercase;
        line-height 1.1;
        
    &_primary
        background $color-red;
        box-shadow inset 0 -4px 0 -1px #bb4c64;
        
        &:active
            box-shadow inset 0 4px 0 -1px rgba(#bb4c64, 0.8);
        
    &_secondary
        background $color-green;
        box-shadow inset 0 -4px 0 -1px #3c9770;
        
        &._bold
            font-weight 900;
            box-shadow inset 0 -5px 0 -1px #3c9770;
            text-shadow 1px 1px 1px rgba(#257c57, 0.65);
        
        &:active
            box-shadow inset 0 4px 0 -1px rgba(#3c9770, 0.8);
    
    &._size_m
        height 40px;
        padding 12px 15px;
        font-size 16px;
        
    &._size_l
        height 44px;
        padding 10px 15px;
        font-size 20px;