.form-field
    &__label
        display block;
        margin-bottom 5px;
        font-size 12px;
        font-weight 600;
        text-transform uppercase;
        
        sup
            color #e16186;
            vertical-align 4%;
    
    .form-input
        display block;
        
    .form-select
        margin-top 6px;
        margin-bottom 2px;
        
.form-input
    display inline-block;
    vertical-align middle;
    padding 11px;
    width 100%;
    box-shadow inset 0 1px 3px rgba(#000, 0.45);
    font-family inherit;
    outline none;
    border none;
    border-radius 2px;    
    
.form-select
    width 100%;
    font 14px Tahoma;
    
    &.opened 
        .jq-selectbox__select
            border-radius 7px 7px 0 0;
            
        .jq-selectbox__dropdown
            border-radius 0 0 7px 7px;

    .jq-selectbox
        &__select
            background #fff;
            cursor pointer;
            border-radius 7px;
            border 1px solid #bebebe; 
            
        &__select, &__select-text
            width 100% !important;
        
        &__trigger
            position absolute;
            top 0; right 8px;
            background url(../img/form-select-arrow.png) no-repeat center center;
            size 7px 100%;

        &__select-text
            padding 5px 10px;
            padding-right 22px;
            
        &__dropdown
            min-width 100%;
            width 100%;
            top 100% !important;
            background #fff;
            border 1px solid #bebebe;
            border-top none;
            overflow hidden;
                        
            ul li
                padding 5px 10px;
                
                &:hover
                    background darken(#fff, 5%);
                