.heading
    &._size_m
        font-size 22px;
        margin 0 0 6px;
           
.page-heading
    overflow hidden;
    font-weight 300;
    text-transform uppercase;
    text-align center;
    color #434343;
    line-height 1;
    
    strong
        font-weight 900;
        color #ee7488;
    
    span
        position relative;
        display inline-block;
        
        &:before, &:after
            content '';
            position absolute;
            top 0;
            width 999%;
            height 100%;
            background-repeat repeat-x;
            background-position center center;
        
        &:before
            left -999%;
            
        &:after
            right -999%;
            
    &._size_l
        margin-bottom 20px;
        font-size 40px;

        span:before, 
        span:after
            background-image url(../img/section-heading_size_l.png);
            margin 0 -20px;
    
    &._size_m
        margin-bottom 20px;
        font-size 25px;

        span:before, 
        span:after
            background-image url(../img/section-heading_size_m.png);
            margin 0 -16px;
        
