.quote
    margin 25px 0;
    padding 10px 20px;
    background url(../img/quote.png) no-repeat;
    background-size cover;
    font-size 14px;
    font-weight 600;
    font-style italic;
    color #454545;
    line-height 1.5;