mixin book-form(isModal)
  .b-book-form(class= isModal ? 'b-book-form_modal' : ''): .b-book-form__wrapper
    form(action='#').b-book-form__form
      h2.b-book-form__heading #[small Select the start time] #[br] free tour of istanbul

      .b-book-form__time
        .b-book-form__time__item._checked
          input(type='radio' name='time' value='11:00').b-book-form__time__radio
          a(href='#').b-book-form__time__btn.btn.btn_secondary 11:00 #[sup am]

        .b-book-form__time__item
          input(type='radio' name='time' value='1:00').b-book-form__time__radio
          a(href='#').b-book-form__time__btn.btn.btn_secondary 1:00 #[sup pm]

      .b-book-form__line 

      h3.b-book-form__heading Personal info
      
      .b-book-form__fields
        .form-field.b-book-form__field
          label.form-field__label Name#[sup *]
          input(type='text').form-field__input.form-input

        .form-field.b-book-form__field._travelers
          label.form-field__label Travelers#[sup *]
          select.form-select.js-form-select
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4

        .form-field.b-book-form__field
          label.form-field__label E-mail#[sup *]
          input(type='text').form-field__input.form-input

        .form-field.b-book-form__field
          label.form-field__label Date#[sup *]
          input(type='text').form-field__input.form-input

      button(type='submit').btn.btn_primary._size_l.b-book-form__order-btn Book now

      if isModal
        .b-book-form__or: a(href='#') Learn more