section.b-page__section.b-book-today
  .b-book-today__heading Book your tour today
  
  - for(var i = 0; i < 3; i++) {
    .b-book-today__tour
      img(src='img/b-book-today__tour__item-1.jpg').b-book-today__tour__image

      .b-book-today__tour__desc
        .b-book-today__tour__title: a(href='tour-details.html') FREE TOUR of #[br] Istanbul

        .b-book-today__tour__price 
          div €12 Regular
          div €10 Student

        a(href='#' data-book-form).b-book-today__tour__order-btn.btn Book
  - }