footer.b-footer: .container
  .b-footer__logo: img(src='img/b-footer__logo.png')
    
  .b-footer__col
    .b-footer__heading #[span Free Tour] #[strong Istanbul]

    p.b-footer__text © 2010–2015 Free Tour Instambul GmbH. #[br] All rights reserved

    p.b-footer__text.b-footer__text_contacts
      | Milastr. 2, D-10437 Berlin, Germany
      br
      | Tel: +49 30 510 50030 Fax: +49 30 690 88035

  .b-footer__col
    .b-footer__heading #[span Director] #[strong Chris Sandeman]

    p.b-footer__text 
      | Site maintained by SANDEMANs NEW Europe GmbH
      br
      | Milastrasse 2 D-10437 Berlin Germany 

    p.b-footer__text.b-footer__text_contacts
      | Tel: +49 30 510 50030
      br
      | Fax: +49 30 690 88035

  .b-footer__col
    a(href='#').b-footer__link Privacy Policy
    a(href='#').b-footer__link Legal Statement