header.b-header
  .b-top-line.b-header__top
    .container
      ul.b-top-line__menu
        li.b-top-line__menu__item._active: a(href='#') Useful Links
        li.b-top-line__menu__item: a(href='#') Comments
        li.b-top-line__menu__item: a(href='#') Contact Us
        li.b-top-line__menu__item: a(href='#') Work with us

      .b-top-line__share Share:
        a(href='#').b-top-line__share__icon._fb
        a(href='#').b-top-line__share__icon._tw
        a(href='#').b-top-line__share__icon._g

  .b-header__main
    .container
      .b-header__logo
        img(src='img/b-header__logo.png').b-header__logo__image
        a(href='#').b-header__logo__heading Free Tour #[br] #[strong Istanbul]

      .b-header__heading Original free walking tour in Istanbul

      ul.b-header__menu
        li.b-header__menu__item: a(href='index.html') Home Page
        li.b-header__menu__item: a(href='#') City Guide
        li.b-header__menu__item: a(href='#') Daily Tours
        li.b-header__menu__item: a(href='guides.html') Our Guides
        li.b-header__menu__item: a(href='private-tours.html') Private Tours
        li.b-header__menu__item: a(href='#') Blog