.b-partner-list
  .b-partner-list__heading Our Partners

  .b-partner-list__items
    .b-partner-list__item: img(src='img/b-partner-list__item-1.png')
    .b-partner-list__item: img(src='img/b-partner-list__item-2.png')
    .b-partner-list__item: img(src='img/b-partner-list__item-3.png')