.b-text-box
  h2.b-text-box__heading Please Note:
  p.b-text-box__text By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.
