aside.b-page__sidebar.b-sidebar
  section.b-sidebar__section
    .b-sidebar-tour.b-sidebar-tour_primary._active
      .b-sidebar-tour__wrapper
        .b-sidebar-tour__toggle #[strong Free Tour] of Istanbul
        .b-sidebar-tour__info
          .b-sidebar-tour__heading Absolutely free
          .b-sidebar-tour__text #[strong 1:00am] &amp; #[strong 1:00pm] every day, #[br] see #[a(href='#') meeting point]
          .b-sidebar-tour__actions
            a(href='#', data-book-form).b-sidebar-tour__btn.b-sidebar-tour__btn_order.btn Book Now
            a(href='#').b-sidebar-tour__btn.b-sidebar-tour__btn_more.btn Learn More

    .b-sidebar-tour.b-sidebar-tour_secondary
      .b-sidebar-tour__wrapper
        .b-sidebar-tour__toggle #[strong Free Tour] of Istanbul
        .b-sidebar-tour__info
          .b-sidebar-tour__heading Absolutely free
          .b-sidebar-tour__text #[strong 1:00am] &amp; #[strong 1:00pm] every day, #[br] see #[a(href='#') meeting point]
          .b-sidebar-tour__actions
            a(href='#', data-book-form).b-sidebar-tour__btn.b-sidebar-tour__btn_order.btn Book Now
            a(href='#').b-sidebar-tour__btn.b-sidebar-tour__btn_more.btn Learn More

  section.b-sidebar-review.b-sidebar__section
    img(src='img/b-sidebar-review-1.jpg').b-sidebar-review__image

    .b-sidebar-review__heading: a(href='#') Review us on #[br] #[strong TripAdvisor]

    p.text.b-sidebar-review__text 
      | Help spread the word 
      br
      | by reviewing us now, 
      br
      | or check out what 
      br
      | others have said 
      br
      | about us.

  section.b-sidebar-guides.b-sidebar__section
    .b-sidebar-guides__heading Home of the Famous #[br] #[strong._bold Istambul Free Tour] #[br] with some of the #[strong._medium best guides] #[br] in the business
    
    .b-sidebar-guides__items
      .b-sidebar-guides__item 
        img(src='img/b-sidebar-guides__item-1.jpg').b-sidebar-guides__item__image.image._rounded
        .b-sidebar-guides__item__name William

      .b-sidebar-guides__item 
        img(src='img/b-sidebar-guides__item-1.jpg').b-sidebar-guides__item__image.image._rounded
        .b-sidebar-guides__item__name William

      .b-sidebar-guides__item 
        img(src='img/b-sidebar-guides__item-1.jpg').b-sidebar-guides__item__image.image._rounded
        .b-sidebar-guides__item__name William

  section.b-sidebar-media.b-sidebar__section
    .b-sidebar-media__wrapper
      .b-sidebar-media__item
        .b-sidebar-media__item__image
          a(href='#'): img(src='img/b-sidebar-media__item-1.png')
            
        p.b-sidebar-media__item__text Watch #[strong our video] to see #[br] what a Free Tour of Istanbul #[br] is all about

      .b-sidebar-media__item
        .b-sidebar-media__item__image
          a(href='#'): img(src='img/b-sidebar-media__item-2.png')

        p.b-sidebar-media__item__text 
          | New in town? Download #[strong our FREE map] of the city and
          br
          | find your way to some of the
          br
          | best spots in town. All of our
          br
          | start points are clearly labeled
          br
          | to help you find us.

  section.b-sidebar-facebook.b-sidebar__section