.b-trust
  .b-trust__col.b-trust__accomodations
    .b-trust__heading Accommodation #[br] #[strong we trust]

    .b-trust__icon._accomodation

    ul.b-trust-accomodations
      li.b-trust-accomodations__item: a(href='#') Flying Pig Hostels
      li.b-trust-accomodations__item: a(href='#') Meininger Hotel
      li.b-trust-accomodations__item: a(href='#') St Christopher’sInn
      li.b-trust-accomodations__item: a(href='#') Stayokay Hostels
      li.b-trust-accomodations__item: a(href='#') The Bulldog Hotel

  .b-trust__col.b-trust__reviews
    .b-trust__heading Travelers #[br] #[strong speak out]

    .b-trust__icon._reviews

    ul.b-trust-reviews
      li.b-trust-reviews__item
        .b-trust-reviews__item__text AMAZING! Especially forbackpackers on a budget
        .b-trust-reviews__item__src Tripadvisor.com review

      li.b-trust-reviews__item
        .b-trust-reviews__item__text The most charismatic and entertaining guides in Europe
        .b-trust-reviews__item__src Cosmopolitan Magazine, 2005